* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
margin: auto;
width: 1024px;
padding: 10px;

}

.meat {
    padding-left: 10%;
    display: grid;
    grid-template-columns: 7% 5% 15% 5% 20%;
    grid-template-rows: 20px 20px 20px 20px;
}

.buttons {
    display: grid;
    padding-left: 14%;
    grid-template-columns: 20% 20%;
}